bg-color = hsl(0, 0%, 100%)
header-bg-color = hsl(0, 0%, 20%)
important-bg-color = hsl(0, 0%, 95%)

color-primary = hsl(0, 0%, 0%)
color-secondary = hsl(0, 0%, 40%)
color-tertiary = hsl(0, 0%, 100%)

txt-max-width = 35rem // approximately 60 characters per line

image-replaced()
	text-indent -9999px
	white-space nowrap
	overflow hidden

body
	background-color bg-color
	color color-primary
	font-family "Courier New", Courier, monospace
	min-width 320px // iPhone 5s viewport width
	margin auto
	text-align center

strong
	color color-secondary

a, a:hover
	color color-secondary
