@import "./normalize"
@import "./base"

section
	padding 1rem .5rem
	padding-bottom 1rem

	&.intro, &.hire
		background linear-gradient(0deg, header-bg-color, color-primary)
		color color-tertiary

	&.links
		background-color important-bg-color

	p
		max-width txt-max-width
		margin-left auto
		margin-right auto

h1
	color color-tertiary
	font-weight normal
	font-size 2.3rem

@media screen
	section h2
		display none // subheadings just for screen readers

section.characters
	select
		display block
		margin .5rem auto
	p
		text-align left

div.flipper
	display flex
	justify-content center
	align-items center
	margin auto

	div
		flex: 0 1 auto
		width 125px
		overflow hidden

		img
			transition margin .1s

	&.head div
		height 107px

	&.body div
		height 255px
		margin-top -33px

		img
			position relative
			z-index -1

	a
		flex: 0 1 auto
		display block
		width 1.5rem
		height 1.5rem
		font-size 1.5rem
		padding 1rem
		color color-primary
		text-decoration none
		transition color .2s
		image-replaced()
		background-size 19px 24px
		background-repeat no-repeat
		background-position @padding @padding

		&.prev
			background-image url('img/prev.svg')

			&.disabled
				background-image url('img/prev-disabled.svg')
				cursor default

		&.next
			background-image url('img/next.svg')

			&.disabled
				background-image url('img/next-disabled.svg')
				cursor default

section.skills table
	margin-left auto
	margin-right auto
	font-size .9rem

	th
		text-align right
		font-weight normal

		span
			border-bottom 1px dotted
			cursor pointer

	td.levels
		white-space nowrap
		text-align left

		span.level
			display inline-block
			width 1rem
			height 1rem
			margin .25rem .1rem
			border 1px solid color-secondary
			cursor pointer

			&.selected
				background-color color-secondary

			&.disabled
				background-color transparent
				border 1px dotted hsl(hue(color-secondary), saturation(color-secondary), 40%)

			&:first-child // level 0
				border none
				background-color transparent
				margin-right -.2rem // stick to the level 1

	tr.desc td
		font-size .8rem
		color color-secondary
		max-width txt-max-width
		padding 0 .5rem .5rem
		text-align left

	@media only screen and (min-width: 400px)
		font-size 1rem

		td.levels span.level
			width 1.5rem
			height 1.5rem
			margin .25rem .2rem

ul.links
	list-style none
	margin 0
	padding 0

	li
		display inline-block

		a
			display inline-block
			width 50px
			height 50px
			image-replaced()
			margin .5rem
			background-image: url('img/social.png')

			&.medium
				background-position 0 0
			&.twitter
				background-position 50px 0
			&.linkedin
				background-position 100px 0
			&.facebook
				background-position 150px 0

a.hire
	display inline-block
	margin 1rem
	padding .5rem 1.5rem
	box-shadow inset 0 0 0 2px color-tertiary
	border-radius 3px
	text-decoration none
	color color-tertiary
	transition background-color .2s
	font-size 1.2rem

	&:hover
		background-color rgba(color-tertiary, 0.2)
